
.admin{
    padding: 50px 0px 100px 0px;
    background: #333;
}

.projectsSection{
    width: 320px;
    background: #666;
    margin: 0 auto;
    padding: 20px 0px 50px 0px;
}

.projectsWrapperHeader{
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    display: block;
}

.projectsContainer{
    width:100%;
    height: auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-content: flex-start;
    background: #666;
}

.addProject{
    width: 300px;
    height: 300px;
    position: relative;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 10px;
    background: #fff;
}

.addProject p{
    width: fit-content;
    height: 40px;
    margin: 130px auto;
    font-size: 25px;
    font-weight: bold;
}

.addProject:hover{
    background: #ddd;
}

.modal{
    width: 300px;
    height: 240PX;
    background: #ccc;
    box-shadow: 2px 2px 3px black;
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 100px);
    padding: 10px 10px;
}

.modal input{
    width: 250px;
    display: block;
    padding-left: 5px;
    font-size: 12px;
}

.modal textarea{
    width: 250px;
    height: 80px;
    resize: none;
    display: block;
    padding-left: 5px;
    font-size: 12px;
}

.modal button{
    width: 150px;
    height: 25px;
    display: block;
    margin: 10px 75px 0px 75px;
    cursor: pointer;
}

.closeX{
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.areYouSureModal button{
    width: 80px;
    height: 25px;
    display: block;
    margin: 10px 0px 0px 80px;
    cursor: pointer;
}


@media(min-width: 700px){
    .projectsSection{
        width: 645  px;
    }
}

@media(min-width: 1020px){
    .projectsSection{
        width: 965px;
    }
}

@media(min-width: 1320px){
    .projectsSection{
        width: 1285px;
    }
}


